<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for [:admin, @author], remote: true do |f| %>
    <div class="modal-body">
      <ul class="errors"></ul>
      <div class="form-group">
        <%= f.label :name, class:"control-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :profile, class:"control-label" %>
        <%= f.text_field :profile, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :avatar, class: "control-label" %>
        <%= f.file_field :avatar, class: "form-control" %>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to t(".bnt-cancel"), "#", class: "btn", data: {dismiss: "modal"} %>
    </div>
    <% end %>
  </div>
</div>
