<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
    <div class="mainflip">
      <div class="frontside">
        <div class="cards">
          <div class="card-body text-center">
            <p><img class=" avatar" src="<%= author.avatar %>" alt="card image"></p>
            <h4 class="card-title"><%= author.name %></h4>
            <p class="card-text"><%= author.profile %></p>
            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
          </div>
        </div>
      </div>
      <div class="backside">
        <div class="cards">
          <div class="card-body text-center mt-4">
            <h4 class="card-title"><%=link_to author.name, author %></h4>
            <p class="card-text"><%= author.profile %></p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="social-icon text-xs-center" target="_blank" href="#">
                    <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="social-icon text-xs-center" target="_blank" href="#">
                    <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="social-icon text-xs-center" target="_blank" href="#">
                    <i class="fa fa-skype"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="social-icon text-xs-center" target="_blank" href="#">
                    <i class="fa fa-google"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
