<% provide(:title, t("author.all_author")) %>
<h1><%= t("author.all_author") %></h1>

<%= render "authors/search" %>

<%= will_paginate %>

<ul class="author" id="author-list">
  <%= render @authors %>
</ul>
<%= will_paginate %>
