<div class="col-md-3 col-sm-6">
  <div class="product-grid5">
    <div class="product-image5">
      <a>
        <img class="pic-1" src="<%= book.image %>">
        <div class="pic-2">
          <div class="book-content"><%= book.content %></div>
          <br>
          <div class="book-content"><%= t("books.quantity_book") %><%= book.quantity_of_books %> <%= t("book") %></div>
          <div class="book-content"><%= t("books.publisher") %><%= book.publisher_name %></div>
        </div>
      </a>
      <ul class="social">
        <li><a href="" data-tip="Like"><i class="fa fa-thumbs-o-up"></i></a></li>
        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
      </ul>
      <%= link_to t("books.read"), book, class: "select-options fa fa-arrow-right"%>
    </div>
    <div class="product-content">
        <h3 class="title"><a><%= book.name %></a></h3>
        <div><%= book.category_name %></div>
        <div class="price"><%= number_to_vnd(book.price) %></div>
    </div>
  </div>
</div>
