<% provide(:title, t("books.all_book")) %>
<h1><%= t("books.all_book") %></h1>

<%= render "books/category" %>

<%= will_paginate %>

<ul id="book-list">
  <%= render @books %>
</ul>

<%= will_paginate %>
