<div class="container">
  <div class="well">
    <%= link_to  new_admin_publisher_path, remote: true,
      class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-plus"></span><%= t(".new") %>
    <% end %>
    <div class="new-product"></div>
  </div>

  <div class="input-group">
    <%= search_form_for [:admin, @search], class: "navbar-form" do |f| %>
      <%= f.text_field :name_cont, class: "form-control", value: "", placeholder: t(".msg-search_name") %>
      <%= f.text_field :id_in, class: "form-control", value: "", placeholder:t(".msg-search_id") %>
      <div class="input-group-btn">
        <%= button_tag class: "btn btn-default", value: t(".search") do %>
          <i class="glyphicon glyphicon-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t(".tb-id") %></th>
      <th><%= t(".tb-name") %></th>
      <th><%= t(".tb-address") %></th>
      <th><%= t(".tb-acction") %></th>
    </tr>
  </thead>
  <tbody class="publisher-index">
    <%= render @publishers %>
  </tbody>
</table>
<%= will_paginate %>
</div>
<div id="publisher-modal" class="modal fade"></div>
<div id="notification-modal" class=" modal fade"></div>
