<% @users.each do |user| %>
<tr>
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= user.gender %></td>
  <td><%= user.role %></td>
  <td>
    <%= link_to t(".show"), admin_user_path(user), remote: true %>
    &nbsp;
    <%= link_to edit_admin_user_path(user), remote: true do %>
    <i class="glyphicon glyphicon-wrench"></i>
    <% end %>
    &nbsp;
    <%= link_to  admin_user_delete_path(user), remote: true, class: "delete-user" do %>
    <i class="glyphicon glyphicon-remove"></i>
    <% end %>
  </td>
</tr>
<% end %>
