<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("framgia_library"), root_path, id: "logo" %>
    <ul class="nav navbar-nav ">
        <li class="dropdown">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
                <%= link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown" do %>
                  <%= t ".for_admin" %><b class="caret"></b>
                <% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to t(".mn-users"),  admin_users_path %></li>
                  <li><%= link_to t(".mn-books"),  admin_books_path %></li>
                  <li><%= link_to t(".mn-publishers"),  admin_publishers_path %></li>
                  <li><%= link_to t(".mn-author"),  "#" %></li>
                </ul>
            <% end %>
          <% end %>
        </li>
    </ul>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("root"), root_path %></li>
        <li><%= link_to t("book"), books_path %></li>
        <li><%= link_to t("header_author"), authors_path %></li>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li><%= link_to t("manager"), admin_users_path %></li>
          <% end %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <%= t("user.account", name: current_user.name) %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("user.profile"), current_user %></li>
              <li><%= link_to t("user.settings"), edit_user_registration_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("user.log_out"), destroy_user_session_path,
                  method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("user.log_in"), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
